::selection {
  color: #fff;
  background: #3c3d48; }

.button-contain::after, .inputbox-contain::after, .wrapper::after, .main-menu-wrapper::after, .carousel-container::after, .carousel-indicator::after, .banner-wrapper::after, .banner-wrapper .banner-wrap-left::after, .tabs ul::after, .product-wrapper::after, .from-the-blog .blog-wrapper::after, .footer .footer-top .contact-us .sns-list-wrapper::after, .footer .footer-bottom .credit-card::after {
  content: '';
  display: block;
  clear: both; }

.wrapper, .carousel-container {
  margin-left: auto;
  margin-right: auto;
  width: 940px; }

.hidden {
  overflow: hidden;
  text-indent: 999em;
  font-size: 1px;
  width: 1px;
  height: 1px;
  line-height: 999em; }

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none; }

.button-contain [class*="button-"] {
  float: left;
  width: 181px; }

.component .default-btn {
  margin-bottom: 20px; }

.default-btn {
  padding: 1.4em 5.4em;
  border: 2px solid #e36556;
  border-radius: 3px;
  background-color: #e36556;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .default-btn.white {
    background-color: #fff;
    color: #e36556; }

.default-btn.round {
  border-radius: 30px; }

.default-btn:hover, .default-btn.hover {
  background-color: #ed8373;
  border-color: #ed8373;
  color: #fff; }

.default-btn.active {
  background-color: #d94c3f;
  border-color: #d94c3f;
  color: #fff; }

.default-btn.disabled {
  background-color: #f4e7e5;
  border-color: #f4e7e5;
  color: #d1c7c7; }

/* input */
.inputbox-contain [class*="input-"] {
  float: left;
  width: 360px; }

.box-input {
  padding: 1em 0 1em 0.7em;
  margin-bottom: 20px;
  width: 346px;
  border: 2px solid #d9d9d9;
  border-radius: 3px;
  font-size: 13px;
  color: #5b5d69;
  font-family: inherit;
  outline: none; }
  .box-input.focus {
    border-color: #b1dca8;
    font-weight: bold; }

.box-input.error {
  border-color: #f1b2ab;
  font-weight: bold; }

select.box-input {
  width: 359px;
  background: url(../img/select-right.png) no-repeat;
  background-position: right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/*etc*/
span[class*="label-"] {
  display: inline-block;
  width: 35px;
  padding: 1.38em 0.69em;
  font-size: 13px;
  color: #fff;
  text-align: center; }

.label-new {
  background-color: #62b951; }

.label-sale {
  background-color: #e36556; }

.label-hit {
  background-color: #e3db56; }

.tag {
  display: inline-block;
  padding: 0.9em 1.6em;
  border-radius: 2px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #fff; }

.tag.red {
  background-color: #e36556; }

.tag.white {
  background-color: #fff;
  color: #adaeb4; }

/* etc-button */
.arrow-btn {
  width: 28px;
  height: 23px;
  background: url("../svg/button/arrow.svg");
  border: none; }

.right-arrow-btn {
  width: 8px;
  height: 13px;
  background: url("../svg/button/right-arrow.svg") no-repeat;
  border: none; }

[class*="slider-btn"] {
  width: 7px;
  height: 7px;
  border: none;
  background-repeat: no-repeat; }

.slider-btn {
  vertical-align: middle;
  background: url("../svg/button/slider-dot.svg"); }
  .slider-btn.lg {
    background: url("../svg/button/slider-dot-lg.svg"); }
  .slider-btn.on {
    width: 11px;
    height: 11px;
    background: url("../svg/button/slider-dot-on.svg"); }

/* element layout */
.button-contain::after {
  display: block;
  clear: both;
  content: ''; }

.button-contain [class*="button-"] {
  float: left;
  width: 181px; }

.component .default-btn {
  margin-bottom: 20px; }

/* input */
.inputbox-contain::after {
  display: block;
  clear: both;
  content: ''; }

.inputbox-contain [class*="input-"] {
  float: left;
  width: 360px; }

/*icon*/
h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center; }

body {
  min-width: 940px;
  font-family: 'Montserrat', Sans-serif;
  background-color: #e5e5e5;
  color: #3c3d48; }

a {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: bottom; }

.hidden {
  width: 0px;
  height: 0px; }

.header {
  background-color: #fff; }

.header-top {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 11px;
  letter-spacing: 2px; }
  .header-top .logo {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%); }
    .header-top .logo a {
      padding: 10px;
      height: 18px; }

.customer-tel p {
  line-height: 1.7; }
  .customer-tel p span {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle; }

.local-nav {
  float: right;
  margin-top: -7px;
  text-align: right; }
  .local-nav button[class*="change-"] {
    font: inherit;
    padding: 10px 14px 10px 10px;
    letter-spacing: inherit;
    background: url("../img/select-red.png") no-repeat right; }
  .local-nav .header-addcart {
    display: inline-block;
    padding: 10px;
      padding-left: 15px;
    width: 12px;
    height: 16px;
    vertical-align: middle;
    font-size: 14px; }
  .local-nav .header-login {
    display: inline-block;
    color: #969ea3;
    text-transform: uppercase; }
    .local-nav .header-login .icon-login {
      display: inline-block;
      color: #3c3d48;
      font-size: 14px;
      vertical-align: bottom; }

.header-bottom {
  padding: 20px 0 19px; }

.main-menu-list {
  float: left;
  margin: 0 4px;
  letter-spacing: 2px;
  font-size: 11px;
  text-transform: uppercase; }
  .main-menu-list a {
    display: inline-block;
    padding: 10px 15px; }
    .main-menu-list a.select {
      background: url("../img/select-red.png") no-repeat right; }
    .main-menu-list a:hover, .main-menu-list a:focus {
      color: #e36556; }
  .main-menu-list:first-child {
    margin-left: 0; }
    .main-menu-list:first-child a {
      padding-left: 0; }
  .main-menu-list:last-child {
    margin-right: 0; }
    .main-menu-list:last-child a {
      padding-right: 0; }

.main-carousel {
  position: relative;
  width: 100%;
  height: 583px;
  margin: 0 auto;
  background-image: linear-gradient(180deg, #ededed, #f1f1f1); }

.carousel-container {
  overflow: hidden;
  height: 100%; }
  .carousel-container ul {
    width: 3760px; }
    .carousel-container ul li {
      position: relative;
      float: left; }
    .carousel-container ul img {
      position: absolute;
      left: 52%;
      top: 0; }
    .carousel-container ul p {
      padding-top: 200px;
      margin-left: 4px;
      width: 600px;
      font-family: 'PT Serif', serif;
      font-size: 30px;
      letter-spacing: 10px;
      color: #b0b1b7;
      font-style: italic;
      text-align: center;
      line-height: 0.95; }
    .carousel-container ul .main-text {
      display: block;
      font-family: 'Montserrat', Sans-serif;
      font-size: 112px;
      font-weight: 900;
      letter-spacing: 20px;
      font-style: normal;
      color: #3c3d48; }

.carousel-indicator {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100; }
  .carousel-indicator li {
    float: left;
    margin-right: 20px; }

.banner-wrapper {
  background-color: #e5e5e5; }
  .banner-wrapper .banner-wrap-left {
    float: left;
    margin-right: 20px; }
    .banner-wrapper .banner-wrap-left .banner {
      height: 300px; }
  .banner-wrapper .banner {
    overflow: hidden;
    height: 620px;
    margin-top: 17px;
    border-radius: 5px;
    letter-spacing: 1px; }
    .banner-wrapper .banner:first-child {
      margin-right: 20px; }
    .banner-wrapper .banner.last {
      margin-top: 20px; }
    .banner-wrapper .banner [class*="banner-text-"] {
      text-align: center;
      line-height: 1.24; }
      .banner-wrapper .banner [class*="banner-text-"] strong {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase; }
      .banner-wrapper .banner [class*="banner-text-"] em {
        font-size: 15px;
        font-family: 'PT Serif', serif;
        color: #5b5d69;
        font-style: italic; }
      .banner-wrapper .banner [class*="banner-text-"] button {
        margin-top: 10px; }
    .banner-wrapper .banner .banner-text-shoes {
      margin-top: -93px; }
    .banner-wrapper .banner .banner-text-bags {
      margin-top: -263px;
      margin-left: 40px;
      text-align: left; }
    .banner-wrapper .banner .banner-text-collection {
      margin-top: -213px;
      margin-left: 360px; }
    .banner-wrapper .banner .banner-text-women {
      margin-top: -383px; }

.tabs {
  padding: 3px 0;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center; }
  .tabs ul {
    display: inline-block; }

.tab-menu-list {
  position: relative;
  float: left;
  margin-right: 62px; }
  .tab-menu-list:last-child {
    margin-right: 0; }
  .tab-menu-list a {
    display: block;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
    .tab-menu-list a:hover::before, .tab-menu-list a:focus::before {
      display: block;
      position: absolute;
      left: 50%;
      top: -5px;
      width: 10px;
      height: 5px;
      background: url("../img/marker.png");
      content: ''; }

.product-wrapper {
  margin-top: 20px; }
  .product-wrapper .products-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 20px; }
    .product-wrapper .products-item:last-child {
      margin-right: 0; }
    .product-wrapper .products-item:hover img {
      opacity: 0.5; }
    .product-wrapper .products-item:hover .add-buttons {
      display: block; }
    .product-wrapper .products-item:hover span[class*="label-"] {
      opacity: 0.5; }
    .product-wrapper .products-item .add-buttons {
      display: none;
      position: absolute;
      left: 50%;
      top: 260px;
      transform: translateX(-50%); }
      .product-wrapper .products-item .add-buttons button[class*="add-"] {
        width: 43px;
        height: 43px;
        vertical-align: top;
        color: #fff;
        font-size: 18px; }
      .product-wrapper .products-item .add-buttons .add-cart {
        background-color: #e36556;
        border-radius: 3px 0 0 3px; }
      .product-wrapper .products-item .add-buttons .add-wish {
        margin-left: -4px;
        background-color: #e77d70;
        border-radius: 0 3px 3px 0; }
      .product-wrapper .products-item .add-buttons::before {
        position: absolute;
        display: block;
        content: '/';
        margin-left: 39px;
        margin-top: 14px;
        color: #fff; }
  .product-wrapper span[class*="label-"] {
    position: absolute;
    right: 0;
    top: 0; }
  .product-wrapper .products-caption {
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5; }
    .product-wrapper .products-caption .price {
      padding-top: 4px;
      color: #e36556; }
    .product-wrapper .products-caption .non-sale {
      font-size: 12px;
      color: #c6c6c6; }

.about-us {
  margin-top: 26px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 5px; }
  .about-us .default-btn {
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%); }
  .about-us .main-paragragh {
    font-family: 'PT Serif', serif;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.1px;
    margin-top: -5px;
    line-height: 2; }

.from-the-blog {
  margin-top: 43px; }
  .from-the-blog .blog-wrapper {
    margin-top: 21px; }
    .from-the-blog .blog-wrapper .blog-items {
      overflow: hidden;
      margin-right: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-sizing: border-box; }
      .from-the-blog .blog-wrapper .blog-items .inner-wrapper {
        padding: 27px 30px 0;
        height: 220px; }
      .from-the-blog .blog-wrapper .blog-items .tag {
        margin-left: -15px; }
      .from-the-blog .blog-wrapper .blog-items:nth-child(2) {
        background: url("../img/blog_bg1.jpg") no-repeat;
          background-size: cover;
        color: #fff; }
        .from-the-blog .blog-wrapper .blog-items:nth-child(2) .tag {
          margin-top: 10px;
          margin-left: 0; }
      .from-the-blog .blog-wrapper .blog-items.another {
        margin-right: 0;
        background: url("../img/blog_bg2.jpg") no-repeat;
          background-size: cover;
        color: #fff; }
        .from-the-blog .blog-wrapper .blog-items.another .blog-title {
          margin-top: 96px; }
      .from-the-blog .blog-wrapper .blog-items .blog-title {
        display: block;
        margin-top: 22px;
        margin-bottom: 13px;
        font-size: 20px;
        text-align: left;
        line-height: 1.2; }
      .from-the-blog .blog-wrapper .blog-items .blog-paragragh {
        font-family: 'PT Serif', serif;
        font-size: 14px;
        text-align: left;
        line-height: 1.43; }
      .from-the-blog .blog-wrapper .blog-items .times, .from-the-blog .blog-wrapper .blog-items .comments, .from-the-blog .blog-wrapper .blog-items .writer {
        font-size: 11px;
        box-sizing: border-box; }
      .from-the-blog .blog-wrapper .blog-items .times, .from-the-blog .blog-wrapper .blog-items .comments {
        margin-left: 30px;
        margin-top: 20px;
        height: 28px; }
      .from-the-blog .blog-wrapper .blog-items .times {
        color: #adaeb4; }
        .from-the-blog .blog-wrapper .blog-items .times .icon-time {
          font-size: 16px;
          margin-right: 9px;
          vertical-align: middle; }
      .from-the-blog .blog-wrapper .blog-items .icon-comment {
        font-size: 16px;
        margin-right: 9px;
        vertical-align: middle; }
      .from-the-blog .blog-wrapper .blog-items .writer {
        height: 53px;
        padding-left: 27px;
        padding-top: 10px;
        background-color: #fff;
        color: #3c3d48;
        font-weight: bold; }
        .from-the-blog .blog-wrapper .blog-items .writer img {
          margin-right: 10px;
          vertical-align: middle; }

.footer {
  margin-top: 20px;
  background-color: #fff; }
  .footer .footer-heading {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 11px; }
  .footer .footer-top {
    padding-top: 50px; }
    .footer .footer-top .footer-nav dl {
      margin-right: 20px; }
      .footer .footer-top .footer-nav dl:last-child {
        margin-right: 0; }
      .footer .footer-top .footer-nav dl dt {
        margin-bottom: 10px; }
      .footer .footer-top .footer-nav dl dd {
        line-height: 2;
        color: #969ea3;
        font-size: 11px; }
        .footer .footer-top .footer-nav dl dd a:hover, .footer .footer-top .footer-nav dl dd a:focus {
          color: #e36556; }
    .footer .footer-top .contact-us {
      float: right; }
      .footer .footer-top .contact-us .sns-list-wrapper {
        margin-top: 20px;
        margin-bottom: 40px; }
        .footer .footer-top .contact-us .sns-list-wrapper li {
          float: left;
          margin-right: 10px; }
          .footer .footer-top .contact-us .sns-list-wrapper li a[class*="sns-round"] {
            display: inline-block;
            width: 26px;
            height: 26px;
            font-size: 26px; }
            .footer .footer-top .contact-us .sns-list-wrapper li a[class*="sns-round"] .path2::before {
              display: block;
              margin-top: -15px;
              margin-left: 0;
              line-height: 0; }
      .footer .footer-top .contact-us .subscribe-us {
        margin-top: 20px;
        position: relative; }
        .footer .footer-top .contact-us .subscribe-us .submit-btn {
          position: absolute;
          right: 20px;
          top: 1px;
          width: 45px;
          height: 45px;
          background-color: #e36556;
          border-radius: 0 3px 3px 0; }
          .footer .footer-top .contact-us .subscribe-us .submit-btn::before {
            color: #fff;
            transform: translateX(-50%); }
  .footer .footer-bottom {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 24px; }
    .footer .footer-bottom .credit-card li {
      float: left;
      margin-right: 28px; }
    .footer .footer-bottom .copyright {
      float: right; }
      .footer .footer-bottom .copyright h1 {
        display: inline-block;
        margin-right: 10px; }
      .footer .footer-bottom .copyright p {
        display: inline-block;
        font-size: 12px;
        color: #adaeb4; }

#main .banner-wrapper, #main .banner, #main .tabs, #main .product-wrapper, #main .products-item, #main .about-us, #main .from-the-blog, #main .blog-items, #main .footer {
  opacity: 0;
  transition: all 0.5s ease-out;
  transform: translateY(50px); }
  #main .banner-wrapper.fade-in, #main .banner.fade-in, #main .tabs.fade-in, #main .product-wrapper.fade-in, #main .products-item.fade-in, #main .about-us.fade-in, #main .from-the-blog.fade-in, #main .blog-items.fade-in, #main .footer.fade-in {
    opacity: 1;
    transform: translateY(0); }
